<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Todo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Add Todo</h1>
    <form action="/todo/new" method="post" th:object="${todo}">
        <div class="mb-2">
            <input type="text" class="form-control" th:field="*{task}" placeholder="Task" required>
        </div>
        <div class="mb-2">
            <input type="text" class="form-control" th:field="*{description}" placeholder="Description" required>
        </div>
        <div class="mb-2">
            <label for="isDone">Is Done:</label>
            <input type="checkbox" id="isDone" th:field="*{done}" />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Add</button>
    </form>
    <a href="/todo" class="btn btn-primary">Back to Todo List</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
